.nav-buttons-primary li {
  cursor: pointer;
}
.nav-buttons-primary li:hover h4 {
  color: #333 !important;
}
.nav-buttons-primary li.active {
  border-bottom: 2px solid #666;
  color: #333 !important;
}
.nav-buttons-primary li.active h4 {
  color: #333 !important;
}